@charset "utf-8";

/*
简介页面独有
*/
#abstract-content {
	width: 1000px;
	height: 400px;
	background: #fff;
	margin: 6px auto;
	padding: 34px;
	box-sizing: border-box;
}

#abstract-content h1 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

#abstract-content p {
	color: #333;
	text-indent: 2em;
	text-align: justify;
}